/* css переменная */
:root {
	--primary-text-color: #212121;
	--title-text-color: #757575;
	--accent-color: #2196f3;
}
/* Приминение главного цвета ко всей страницы */
body {
	background-color: #ffffff;
	color: #212121;
}
body {
	font-family: Roboto;
}
/*Цвета тексата, палитра
(#FFFFFF;#212121;#757575;#2196F3;rgba(255, 255, 255, 0.6)*/

/* Цвет фона
#2F303A;#F5F4FA */

/* убираем точки (списки) */
ul {
	list-style: none;
}
