/* WebStudio */
.logo-white .web {
	color: blue;
	font-family: Raleway;
	font-size: 26px;
}
.logo-white a {
	color: #ffffff;
	font-family: Raleway;
	font-size: 26px;
}

.logo-black .web {
	color: blue;
	font-family: Raleway;
	font-size: 26px;
}
.logo-black a {
	color: var(--primary-text-color);
	font-family: Raleway;
	font-size: 26px;
}
/* site-nav */
.site-nav .link {
	color: var(--primary-text-color);
	font-size: 14px;
}
.site-nav .link:hover {
	color: var(--accent-color);
}
.site-nav .link:focus {
	color: var(--accent-color);
}
/* contacts-nav */
.contacts-nav .contacts {
	color: var(--title-text-color);
	font-size: 14px;
	font-style: normal;
}
.contacts-nav .contacts:hover {
	color: var(--accent-color);
}
.menu .information {
	color: #212121;
	background-color: #f5f4fa;
	display: inline-block;
	padding: 6px 18px;
	border-radius: 4px solid black;
	border-color: transparent;
}
.menu .information:hover {
	background-color: var(--accent-color);
}
.menu .information:focus {
	color: #ffffff;
	background-color: var(--accent-color);
}
.section .list {
	color: var(--primary-text-color);
	font-size: 18px;
}
.section .services {
	color: var(--title-text-color);
	font-size: 16px;
}
/* Белый шрифт */
/*.white-color {
	color: var(#ffffff);}*/
.white-color {
	color: #000000;
	font-size: 14px;
	font-style: normal;
}
/* footer */
/*.footer-contacts a {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;}*/
.footer-contacts .contacts {
	color: #000000;
	font-size: 14px;
	font-style: normal;
}
.footer-contacts .contacts:hover {
	color: var(--accent-color);
}
